body {
  overflow: hidden;
  background-color: black;
}
  #hide-black-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000000000000000;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    font-size: 20px;    
  }
  .fade-in-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 4.5s;
    -moz-animation: fadeIn 4.5s;
    -o-animation: fadeIn 4.5s;
    -ms-animation: fadeIn 4.5s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-out {
    opacity: 1;
    animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
